:root {
    --navcol: #A5402D;
    --footcol: #863223;
    --dark: rgb(45, 45, 75);
    --light: whitesmoke;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
}


/* Main */

header {
    background-color: var(--navcol);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10%;
}

h1, h2, body {
    text-align: center;
    color: var(--light);
}

h1 {
    font-size: 175%;
    padding: 40px;
}

h2 {
    font-size: 150%;
    margin-top: 25px;
    padding: 30px;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    padding: 30px;
    background-color: var(--footcol);
}

/* Navbar/Lists */

.pagename {
    font-weight: bolder;
}

li, a, button {
    float: left;
    color: var(--light);
    background-color: var(--navcol);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.navlink li {
    display: inline-block;
}

.navlink a {
    padding: 15px 10px;
    text-decoration: none;
  }

.navlink a:hover {
    background-color: var(--light);
    color: var(--dark);
  }
/* About Me */

.about img {
    float: left;
    margin-left: 10%;
    max-width: 20%;
    height: auto;
}

.about p {
    padding: 10%;
}

/* My Projects */

.projects {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

/* Project Cards */

.card {
    padding: 10px;
    margin: 10px;
    min-height: 200px;
}

.card p {
    padding: 15px;
}

.card h2 {
    margin-top: 0px;
    font-size: 100%;
}

.card img:hover {
    box-shadow: inset 0px 0px 10px var(--light), 0 0 25px var(--light);
}

.mainproj h2 {
    font-size: 130%;
}

.card > img {
    border-width: 1px;
    border-radius: 2%;
    width: 80%;
    height: auto;
}

.mainproj > img {
    border-color: var(--light);
    border-style: solid;
    border-width: 1px;
    border-radius: 2%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
}

/* Contact Me */

.contact p {
    margin-bottom: 40px;
}

/* Screen Ratio */
    
@media screen and (max-width: 768px) {
    
    .about img {
        float: none;
        margin-left: 0%;
    }
    
    .about p {
        padding: 10%;
    }
    
}

@media screen and (min-width: 992px) {
  
    .card {
        max-width: 40%;
    }

    .mainproj {
        max-width: 80%;
    }
}
  